USE [master]
GO
/****** Object:  Database [PersonDB]    Script Date: 4/07/2016 11:20:15 PM ******/
CREATE DATABASE [PersonDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PersonDB', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\PersonDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PersonDB_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\PersonDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PersonDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PersonDB]
GO
/****** Object:  Table [dbo].[tblPeople]    Script Date: 4/07/2016 11:20:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblPeople](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblPeople] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tblPeople] ([Id], [Name]) VALUES (N'140326ce-b60c-4f16-a54d-a05ab996d2c4', N'Bob Smith')
INSERT [dbo].[tblPeople] ([Id], [Name]) VALUES (N'af439cd5-0aff-4285-8f3d-dd35bfc35391', N'Frank Black')
ALTER TABLE [dbo].[tblPeople] ADD  CONSTRAINT [DF_tblPeople_Id]  DEFAULT (newid()) FOR [Id]
GO
USE [master]
GO
